.act {width: 370px;
    height: 294px;}
.activitis{
    padding-top: 0px;
    @media screen and (max-width: 1200px) {
        display: none;
        
    }
}
.activitis__title{
    font-weight: 700;
font-size: 36px;
color: var(--primary-text-color);
line-height: 100%;
text-align: center;
margin-bottom: 50px;
}
.activitis__photos{
    display: flex;
    gap: 30px;
}
.activitis__photos img{
    display: block;
}
.activitis__item{
    position: relative;
    display: block;
   
}
.activitis__item-text{
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: center;
padding-top: 27px;
padding-bottom: 27px;
    color: #FFFFFF;
display: block;
    background-color: rgba(47, 48, 58, 0.8);;
}